version: "3.9"

services:
  nginx:
    build:
      context: ./nginx
      dockerfile: dockerfile
    container_name: nginx-gateway
    depends_on:
      - frontend
      - pong_back
      - api_back
    # for prod -----------------------------------------------
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_proxy"

      # Service (port interne vers Nginx)
      - "traefik.http.services.nginx.loadbalancer.server.port=80"

      # Router HTTPS (443)
      - "traefik.http.routers.nginx-secure.rule=Host(`transcendance.adoireau.design`)"
      - "traefik.http.routers.nginx-secure.entrypoints=websecure"
      
      - "traefik.http.routers.nginx-secure.tls=true"
      - "traefik.http.routers.nginx-secure.tls.certresolver=myresolver"

      # Router HTTP (80) -> redirection vers HTTPS
      - "traefik.http.routers.nginx-web.rule=Host(`transcendance.adoireau.design`)"
      - "traefik.http.routers.nginx-web.entrypoints=web"
      - "traefik.http.routers.nginx-web.middlewares=redirect-to-https"

      # Middleware de redirection
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true"
      
    networks:
      - traefik_proxy
      - internal
    # --------------------------------------------------------
    # for dev ------------------------------------------------
    # ports:
    #   - "8080:80"

    # networks:
    #   - internal
    # --------------------------------------------------------

  frontend:
    build:
      context: ./front
      dockerfile: dockerfile
    container_name: frontend-react
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    networks:
      - internal

  pong_back:
    build:
      context: ./back/pong
      dockerfile: dockerfile
    container_name: pong_back
    command: ["node", "server.js"]
    expose:
      - "4001"
    networks:
      - internal

  api_back:
    build:
      context: ./back/api
      dockerfile: dockerfile
    container_name: api_back
    command: ["node", "server.js"]
    expose:
      - "4002"
    networks:
      - internal

networks:
  traefik_proxy:
    external: true
  internal:
    driver: bridge