/* --- Login Modal --- */
body {
    background-image: url('../../../public/assets/backGroundLogin.png');
    background-position: center ;
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    pointer-events: auto;
}

.login-box {
    background-color: #e6dacd; /* Matching theme somewhat */
    padding: 3vh 4vh;
    border: 1px solid #1b0a00;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    min-width: 300px;
}

.login-box h3 {
    margin-top: 0;
    margin-bottom: 2vh;
    font-family: 'TT';
    color: #1b0a00;
    font-size: 2.5vh;
}

.login-box input {
    width: 100%;
    padding: 1vh;
    margin-bottom: 2vh;
    border: 1px solid #ccc;
    background: white;
    font-size: 1.6vh;
    box-sizing: border-box; /* Important for padding */
}

.login-actions {
    display: flex;
    justify-content: space-between;
    gap: 1vh;
}

.login-actions button {
    flex: 1;
    padding: 1vh;
    cursor: pointer;
    border: 1px solid #1b0a00;
    background: transparent;
    font-family: 'TT';
    text-transform: uppercase;
    transition: 0.2s;
}

.login-actions button:hover {
    background: rgba(0,0,0,0.05);
}

.login-actions button.confirm-btn {
    background: #000000de;
    color: #fff;
}

.login-actions button.confirm-btn:hover {
    background: #f37022;
    border-color: #f37022;
}